.login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  background-color: white;
  color: #247D7E;
}

  .acesso {
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction:  column;
    font-size: 2rem;
    
  }
  .acesso a{
    color: #115455;
  }
    
  
  .lista-acesso {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 1rem;
  }
  .lista-acesso .perfil {
    padding: 0.5rem 2rem 0.5rem 2rem;
    transition: border 0.5s;
    cursor: pointer;
  }
  .lista-acesso .perfil.selected {
    border: 1px solid var(--color-button-border);
    border-radius: 5rem;
  }
  

.logo img {
  position: relative;
  width: 40rem;
  height: 60rem;
  animation: esfumacar 1s linear;
}

.loginR { 
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  padding: 20px;
  width: 500px;
  height: 500px;
}

.loginR h1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}

.loginR h4 {
  font-weight: 300;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-text-card);
}

.login-loginInputMatricula {
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--color-text-card);
  border: 1px solid #000;
  border-radius: 10px;
  padding: 3px;
  width: 100%;
  height: 50px;
  margin-bottom: 3rem;
}

.login-loginInputMatricula svg {
  margin-left: 10px;
  font-size: 25px;
}

.login-loginInputMatricula input {
  background: transparent;
  width: 100%;
  outline-width: 0;
  color: black;
  border: none;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
}

.login-loginInputPassword {
  display: flex;
  align-items: center;
  color: var(--color-text-card);
  border: 1px solid #000;
  border-radius: 3px;
  padding: 3px;
  margin: 5px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.login-loginInputPassword svg {
  margin-left: 10px;
  margin: 0.4rem 0.7rem 0 1rem;
  font-size: 25px;
}

.login-loginInputPassword input {
  background: transparent;
  width: 100%;
  outline-width: 0;
  color:  black;
  border: none;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;

}

.loginR a{
  width: 100%;
  text-decoration: none;
  color: var( --color-text-button);
}

.loginR .buttonLogin {
  width: 100%;
  background-color: var(--background-button-primary);
  color: var( --color-text-button);
  font-weight: 800;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 5px;
  border: none;

  outline-width: 0;
}

.loginR a button:hover {
  background-color: var(--background-button-primary-hover);
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 1s;
}

.login-eye {
  align-items: center;
  justify-content: center;
  font-size: 30;
  cursor: pointer;
  margin-right: 10px;
}

@keyframes esfumacar {
  from {
    transform:  translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media(max-width: 950px){
  .containerLogin{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logoLogin img{
    margin-top: 4rem;
    width: 25rem;
  }

  .lista-acesso {
    justify-content: unsafe;
    margin-bottom: 2rem;
    margin-top: 0;
  }
  .lista-acesso .perfil {
    padding: 0.5rem 2rem 0.5rem 2rem;
    transition: border 0.5s;
    color: var(--color-text-card );
  }
  .lista-acesso .perfil.selected {
    border: 0; 
    border-radius: 0;
    color: var(--background-header );
  }

  .login-loginInputMatricula {
    width: 90%;
    height: 4.5rem;
    margin-bottom: 1rem;
  }
  
  .login-loginInputMatricula input {
    height: 100%;
    font-size: 1.7rem;
    margin-left: 1rem;
  }
  
  .login-loginInputPassword {
    width: 90%;
    height: 4.5rem;
    margin-bottom: 1rem;
  }
  
  .login-loginInputPassword input {
    height: 100%;
    font-size: 1.7rem;
    margin-left: 1rem;
  }

  .containerLogin a{
    width: 90%;
  }

  .containerLogin button {
    width: 100%;
    background-color: var(--background-button-primary);
    color: var( --color-text-button);
    font-weight: 600;
    height: 4.5rem;
    border-radius: 10px;
    font-size: 1.8rem;
    margin-top: .5rem;
    border: none;
    outline-width: 0;
  }
  
  .containerLogin button:hover {
    background-color: var(--background-button-primary-hover);
    border: 1px solid #000;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    transition: background-color 1s;
  }
  .containerLogin button a{
    text-decoration: none;
    color: var( --color-text-button);
  }
}
