.containerActivityDetails{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.containerActivityDetails .contentActivityDetails{
  width: 90%;
  height: 90%;
  background-color: var(--background-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  margin-top: 2rem;
  border-radius: 5px;
}

.containerActivityDetails .contentActivityDetails .titleActivityDeatails{
  color: var(--color-text-card);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.containerActivityDetails .contentActivityDetails p{
  width: 90%;

  color: var(--color-text-card);
  font-size: 1.8rem;
  text-align: justify;
  margin-top: 2rem;
}

.containerActivityDetails .contentActivityDetails .containerButtonSpan{
  width: 90%;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerActivityDetails .contentActivityDetails .informations{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerActivityDetails .contentActivityDetails .informations span{
  text-align: start;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-text-card);
}

.containerActivityDetails .contentActivityDetails .buttonsContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.containerActivityDetails .contentActivityDetails .containerButtonSpan .buttonsContainer button{
  width: 48%;
  height: 4rem; 
  font-size: 1.8rem;
  text-align: center;
  border-radius: 5px;
  border: 0;
  color: var(--color-text-button);
}

.containerActivityDetails .contentActivityDetails .buttonsContainer .buttonEdit{
  background-color: var(--background-button-secondary);
}

.containerActivityDetails .contentActivityDetails .buttonsContainer .buttonDelete{
  background-color: var(--background-button-tertiary);
}

@media(min-width: 375px){
  .containerActivityDetails .contentActivityDetails{
    height: 58%;
  }
} 
