
.fundo{
  background-color: #F1F1F1; width:850px; height: 500px; border-radius: 20px;
    }
    
  h1{
    color: #247D7E;
    margin-left: 50px; 
    
         }
 
  .direita{
    display: flex; 
    flex-direction: column;
  }

  input{
    text-align: center; 
    margin-left: 50px;
    margin-top: 10px;
    border: 0px;
    border-radius: 20px;
    width: 368px; height: 30px;
  }

   
   button {
   color: white;
   text-align: center;
   border: 0px ;
   margin-left: 50px;
   border-radius: 20px;
   background-color: black;
   width: 368px; height: 20px;
 }
