

.fundo{
  background-color: #F1F1F1; width:850px; height: 500px; border-radius: 20px; 
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
    }

  h1{
    color: #247D7E;
    margin-left: 50px; 
} 
.containerAgendar{
   display: flex;
  flex-direction: row;
  width: 80%;
  height: 50rem;
}
.left{
  justify-content: center;
  width: 50%;
  height: 100%;
}
 .right{
  justify-content: center;
  width: 50%;
  height: 100%;
}

.inputDescricaoSchedule input{
  height: 50px;
}


  .fundo input{
    text-align: center; 
    margin-left: 50px;
    margin-top: 10px;
    border: 0px;
    border-radius: 20px;
    width: 300px; height: 30px;
  }

  .buttonScheduleActivity {
  color: white;
  text-align: center;
  border: 0px ;
  margin-top: 120px;
  margin-left: 50px;
  border-radius: 20px;
  background-color: #247D7E;
  width: 80%; height: 3rem;
}

@media(max-width: 465px){
  .containerScheduleActivity{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    margin-top: 3rem;

    width: 100%;
    height: 100%;
  }

  .contentScheduleActivity{
    width: 90%;
    height: 80%;
    height: 42rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* justify-content: center; */

    background-color: var(--background-card);
    border-radius: 5px;
  }

  .contentScheduleActivity h1{
    margin: 1.5rem 0 0 0;
  }

  .containerInputScheduleActivity{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    width: 80%;
    height: 30rem;
    gap: 1rem;
    /* background-color: cadetblue; */
  }

  .contentScheduleActivity input{
    height: 3.8rem;
    border-radius: 5px;
    border: 0;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    color: var(--color-text-card)
  }

  .contentScheduleActivity input::placeholder{
    color: var(--color-text-card)
  }

  .buttonScheduleActivityMobile{
    width: 80%;
    height: 4rem;
    border-radius: 5px;
    border: 0;
    background-color: var(--background-button-primary);
    color: var(--color-text-button);
    font-weight: bold;
    font-size: 1.6rem;
    transition: background-color .2s;
  }

  .buttonScheduleActivityMobile:hover{
    background-color: var(--background-button-secondary);
  }

}

