* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  font-size: 62.5%;
  --background-primary: #fff;
  --background-header: #1DC3C4;
  --background-footer: #132222;
  --background-card: #F1F1F1;
  --background-card-secundary: #eee;
  --background-button-primary: #247D7E;
  --background-button-primary-hover: #1DC3C4;
  --background-button-secondary: #1DC3C4;
  --background-button-tertiary: #FF533D;
  --color-text-button: #fff;
  --color-text-card : #247D7E;
  --color-text-header: #fff;
  --color-text-footer: #ffffff80;
  --color-text-visited-header: #c2c2c2;
}
