* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --color-background-primary: #fff;
  --color-background-header: #1DC3C4;
  --color-background-footer: #132222;
  --color-text-header: #fff;
  --color-text-footer: #ffffff80;
  --color-text-visited-header: #c2c2c2;
}
