* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

button {
  cursor: pointer;
}

:root {
  font-size: 62.5%;
  --background-primary: #fff;
  --background-content: #fff;
  --color-light-blue: #1DC3C4;
  --color-dark-blue: #247D7E;
  --background-footer: #132222;
  --background-card: #0a0808;
  --background-card-secundary: #eee;
  --background-button-tertiary: #FF533D;
  --background-button-calendar: #f3f5f7;
  --background-button-calendar-selected: #e7ecee;
  --color-text-done: #0CCD09;
  --color-text-yellow: #E5E619;
  --color-text-late: #F53C30;
  --color-text-button: #fff;
  --color-text-button-calendar: #649bf3;
  --color-button-border: #a7a6a6ff;
  --color-text-header: #fff;
  --color-text-footer: #ffffff80;
  --color-text-visited-header: #000000b0;
  --color-border-calendar: #dadce0;
  --color-label-calendar: #414242;
}

.cursor-pointer {
  cursor: pointer;
}

.contentAnimation{
  position: absolute;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100vw;
  height: 100vh;
}
