.socialMedia {
  background-color: var(--background-card-secundary);
  width: 1000px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.linksSocialMedia{
  text-decoration: none;
  color: var(--color-text-card);
}

.socialMediaIcon{
  margin-left: 50px;
  margin-right: 50px;
}

.nameSocialMedia{
  text-align: center;
}

@media(max-width: 465px){
  .socialMedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 90%;
    gap: 3rem;
    border-radius: 5px;
    margin-top: 3rem;
  }

  .linksSocialMedia p{
    font-size: 1.8rem;
    font-weight: bold;
  }

  .socialMediaIcon{
    width: 10rem;
  }
}

@media(max-width: 950px){
  .socialMedia{
    width: 80%;
    height: 45rem;
    display: flex;
    margin: 2rem auto;
    flex-direction: column;
    gap: 1rem;
  }

  .linksSocialMedia p{
    font-size: 1.8rem;
    font-weight: bold;
  }

  .socialMediaIcon{
    width: 10rem;
  }
}

@media(max-width: 411px){
  .linksSocialMedia p{
    font-size: 1.8rem;
    font-weight: bold;
  }

  .socialMediaIcon{
    width: 10rem;
  }
}

@media(max-width: 375px){
  .socialMedia{
    width: 70%;
  }

  .linksSocialMedia p{
    font-size: 1.5rem;
    font-weight: bold;
  }

  .socialMediaIcon{
    width: 13rem;
  }
}

@media(max-width: 320px){
  .socialMediaIcon{
    width: 7rem;
  }
}

@media(max-width: 280px){
  .socialMediaIcon{
    width: 9rem;
  }
}
