.containerSocialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20rem);
}

.socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-card-secundary);
  width: 100rem;
  height: 30rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.linksSocialMedia{
  text-decoration: none;
  color: var(--color-text-card);
}

.socialMediaIcon{
  margin-left: 5rem;
  margin-right: 5rem;
}

.nameSocialMedia{
  text-align: center;
}

@media(max-width: 46,5rem){
  .socialMedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 90%;
    gap: 3rem;
    border-radius: 0.5rem;
    margin-top: 3rem;
  }

  .linksSocialMedia p{
    font-size: 1.8rem;
    font-weight: bold;
  }

  .socialMediaIcon{
    width: 10rem;
  }
}

@media(max-width: 950px){
  .socialMedia{
    width: 80%;
    height: 45rem;
    display: flex;
    margin: 2rem auto;
    flex-direction: column;
    gap: 1rem;
  }

  .linksSocialMedia p{
    font-size: 1.8rem;
    font-weight: bold;
  }

  .socialMediaIcon{
    width: 10rem;
  }
}

@media(max-width: 41.1rem){
  .linksSocialMedia p{
    font-size: 1.8rem;
    font-weight: bold;
  }

  .socialMediaIcon{
    width: 10rem;
  }
}

@media(max-width: 37.5rem){
  .socialMedia{
    width: 70%;
  }

  .linksSocialMedia p{
    font-size: 1.5rem;
    font-weight: bold;
  }

  .socialMediaIcon{
    width: 13rem;
  }
}

@media(max-width: 32rem){
  .socialMediaIcon{
    width: 7rem;
  }
}

@media(max-width: 28rem){
  .socialMediaIcon{
    width: 9rem;
  }
}
