.contentActivies{
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 0 3.5rem;
  margin-top: 3rem;
}

.contentActivies .progress-container {
  display: flex;
  padding: 3rem 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: var(--background-card);
  margin-top: 3rem;
  margin-bottom: 9rem;
}
.contentActivies .progress-container .card-progress .title {
  color: var(--color-light-blue);
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.contentActivies .progress-container .card-progress .description {
  color: var( --color-dark-blue);
  font-size: 1.8rem;
  text-align: justify;
  max-width: 33rem;
  margin: 3rem 0 3.5rem 0;
}
.contentActivies .progress-container .card-progress .card-info-progress {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.contentActivies .progress-container .card-progress .card-info-progress .label-progress  {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.8rem;
  color: var( --color-dark-blue);
}
.contentActivies .progress-container .card-progress .card-info-progress .label-progress img  {
  margin-right: 1rem;
}
.contentActivies .progress-container .card-progress .card-info-progress .label-progress .value-progress-done  {
  color: var(--color-text-done);
  margin-left: 10px;
  font-weight: bold;
}
.contentActivies .progress-container .card-progress .card-info-progress .label-progress .value-progress-late  {
  color: var(--color-text-late);
  margin-left: 10px;
  font-weight: bold;
}


.content svg{ 
  width: 200px;
  height: 80%;
}
