.containerMenuTeacher{
  width: 16rem;
  background-color: var(--background-primary);
  box-shadow: 0 0 5px 1px black;
  border-radius: 5px;
  padding: 1rem;

  position: relative;
  z-index: 9;
  top: 1rem;
  right: 9rem;

  animation: transi 0.5s linear;
  margin: 0;
}

.containerMenuTeacher nav{
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.containerMenuTeacher div{
  width: 100%;
  display: flex;
  gap: 1rem;
}

.containerMenuTeacher div section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerMenuTeacher div section p{
  margin-top: .5rem;
  
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-text-card);
}

@keyframes transi{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 
