.header {
  display: flex;
  background-color: var(--background-header);
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header .logo {
  height: 100%;
}

.header .logo img {
  width: 80%;
}

.header .menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.header .menu a {
  text-decoration: none;
  color: var(--color-text-header);
  font-size: 2rem;
}
.header .menu a.visited {
  color: var(--color-text-visited-header);
}
