.containerRanking {
  max-width: 100%;
  margin: 2rem;
}
.containerRanking .containerWarn {
  max-width: 50%;
  margin: 0 auto;
}

.containerRanking .card-info-general {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerRanking .card-info-general{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--background-card);
  padding: 4rem 2rem; 
  border-radius: 5px;
  margin-bottom: 1.9rem;
}

.containerRanking .card-info-general .title-card{
  font-size: 2.2rem;
  color: var(--color-light-blue);
  text-align: center;
  margin-bottom: 0.5rem;
}

.containerRanking .card-info-general .description-card{
  font-size: 1.8rem;
  color: var(  --color-dark-blue);
  text-align: justify;
  max-width: 42rem;
}

.containerRanking .role-position {
  background-color: var(--background-card);
  margin-bottom: 0.7rem;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
}

.containerRanking .role-position .info-general .position{
  font-size: 4rem;
  color: var( --color-dark-blue);
  font-weight: bold;
}
.containerRanking .role-position .info-general{
  width: 40%;
  display: flex;
  align-items: center;
}
.containerRanking .role-position .info-general .icon{
  width: 4.4rem;
  margin-right: 0.5rem;
  margin-left: 0.2rem;
}
.containerRanking .role-position .info-general .student-name{
  font-weight: bold;
  font-size: 2.8rem;
  color: var( --color-dark-blue);;
}
.containerRanking .role-position .course, .containerRanking .role-position .score{
  font-size: 2.5rem;
  width: 30%;
  color: var( --color-dark-blue);
}

.containerRanking .role-position .score .score-value-green {
  color: var(--color-text-done);
  font-weight: bold;
}

.containerRanking .role-position .score .score-value-yellow {
  color: var(--color-text-yellow);
  font-weight: bold;
}

@media(max-width: 768px) {
  .containerRanking .role-position {
    justify-content: center;
  }

  .containerRanking .containerWarn {
    max-width: 80%;
    margin: 0 auto;
  }
  
  .containerRanking .role-position .info-general{
    width: 100%;
    display: flex;
    align-items: center;
  }

  .containerRanking .role-position .info-general .position{
    font-size: 3.2rem;
    color: var( --color-dark-blue);
    font-weight: bold;
  }
  .containerRanking .role-position .info-general .icon{
    width: 4rem;
    margin-right: 0.5rem;
    margin-left: 0.2rem;
  }
  .containerRanking .role-position .info-general .student-name{
    font-weight: bold;
    font-size: 2.5rem;
    color: var( --color-dark-blue);;
  }
}
