.template {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 2fr 80px;
  grid-template-areas: 
  "header"
  "content"
  "footer"
  ;
}

.template  .content-page {
  animation: transicao 0.5s linear;
  grid-area: content;
  min-height: 100vh;
  background-color: var(--background-content);
}
.template .content-page .sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-right: 1.5rem;
}
.template .content-page .sub-header .back-container {
  display: flex;
  align-items: center;
}
.template .content-page .sub-header .back-container .label{
  font-size: 2.5rem;
  cursor: pointer;
  color: var(  --color-dark-blue);
  font-weight: bold;
}
.template .content-page .sub-header .back-container .icon-back{
  cursor: pointer;
}


.template .content-page .title {
  font-size: 4rem;
  margin-left: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--color-light-blue);
  letter-spacing: 2px;
  font-weight: bold;
  max-width: 100%;
}

@keyframes transicao {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}



@media(max-width: 570px) {
  .template {
    grid-template-rows: 80px 2fr 120px;
  }
  .template .content-page .title {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
  }
  .template .content-page .sub-header .back-container .label{
    font-size: 1.5rem;
  }
}
