.template {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 2fr 80px;
  grid-template-areas: 
  "header"
  "content"
  "footer"
  ;
}

.content-page {
  animation: transicao 0.5s linear;
  grid-area: content;
  min-height: 100vh;
}

@keyframes transicao {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


@media(max-width: 570px) {
  .template {
    grid-template-rows: 80px 2fr 120px;
  }
}
