.containerEditActivity{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/fundo.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.containerEditActivity .contentEditActivity{
  width: 80%;
  height: 80%;
  display: flex;

  flex-direction: column;
  margin: 2rem 0 3rem 0;
}
.containerEditActivity .contentEditActivity .card-info{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--background-card);
  padding: 4rem 2rem; 
  border-radius: 5px;
  margin-bottom: 1.9rem;
}
.containerEditActivity .contentEditActivity .card-info .text .title-card{
  font-size: 2.2rem;
  color: var(--color-light-blue);
}
.containerEditActivity .contentEditActivity .card-info .text .description-card{
  font-size: 1.8rem;
  color: var(  --color-dark-blue);
  text-align: justify;
  max-width: 42rem;
}

.containerDiv{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.containerDiv .containerList{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.containerDiv .containerList div{
  height: 6rem;
  width: 100%;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  background-color: var(--background-card);
  border-radius: 5px;
  color: var( --color-dark-blue);
  font-weight: bold;
 }
 .containerList .linkPara{
  height: 6rem;
  width: 100%;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  background-color: var(--background-card);
  border-radius: 5px;
  color: var( --color-dark-blue);
  font-weight: bold;
  text-decoration: none;
}

.containerDiv .containerEdit{
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 2rem;
  border-radius: 5px;
  background-color: var(--background-card-secundary);
}

.containerDiv .containerEdit .titleEdit{
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var( --color-dark-blue);
  text-align: center;
}

.containerDiv .containerEdit p{
  width: 90%;
  font-size: 1.8rem;
  text-align: justify;
  margin-bottom: 0.5rem;
  color: var( --color-dark-blue);
}

.containerDiv .containerEdit .spanButton{
  height: 100%;
  width: 90%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerDiv .containerEdit .spanButton .containerInformations{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerDiv .containerEdit .spanButton .containerInformations span.info{
  font-size: 1.8rem;
  color: var( --color-dark-blue);
  line-height: 2.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.containerDiv .containerEdit .spanButton .containerInformations span.info .icon {
  margin-right: 0.5rem;
}

.containerDiv .containerEdit .spanButton .containerInformations span.info .value {
  font-weight: bold;
  margin-left: 0.5rem;
}

.containerDiv .containerEdit .spanButton .containerButtons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.containerDiv .containerEdit .spanButton .containerButtons button{
  width: 48%;
  height: 4.3rem;
  font-size: 2rem;
  border-radius: 5px;
  color: var(--color-text-button);
  border: none;
  margin-top: 2rem;

}

.containerDiv .containerEdit .spanButton .containerButtons .edit{
  background-color: var(--color-light-blue);
}

.containerDiv .containerEdit .spanButton .containerButtons .delete{
  background-color: var(--background-button-tertiary);
}

@media(max-width: 950px){
  .contentEditActivity{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
  }
  
  .containerEditActivity .contentEditActivity .card-info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem 1rem; 
  }
  .containerEditActivity .contentEditActivity .card-info .text{
    width: 90%;
  }
  .containerEditActivity .contentEditActivity .card-info .text .description-card{
    max-width: 40rem;
    margin-bottom: 2rem;
  }

  .contentEditActivity .containerList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .contentEditActivity .containerList a{
    width: 100%;
    height: 5.5rem;
    background-color: var(--background-card-secundary);
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
  background-color: var(--background-card-secundary);
  border-radius: 5px;
  color: var( --color-dark-blue);
  font-weight: bold;
  }
}

@media(max-width: 320px){
  .contentEditActivity .containerList a{
    font-size: 1.6rem;
  }
}

@media(max-width: 280px){
  .contentEditActivity .containerList a{
    font-size: 1.4rem;
  }
}
