.ambasTabelas{
  margin-left: 10%;
  display: flex;
  gap: 1.5rem;
  margin-top: 2.5rem;
  
  }

.tabelaAtividades{
  display: flex;
  
  }

.tabelaAtividades .dentroDiv{
  display: flex;
  flex-direction: column;
  gap:20px;
 
}
.tabelaAtividades .dentroDiv div{
  text-align:center;
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--color-text-card);
  background-color: var(--background-card); border-radius: 5px;
  width: 400px;
  height:60px;
}



.tabelaDescricao{
 
  width: 100%;
  height: 100%;
}

.tabelaConteudo{
  width: 40%;
  background-color: var(--background-card); border-radius: 5px;
  padding: 2rem 0 0 0;
  
  }
  
.tabelaConteudo .tituloTabela{
  color: var(--color-text-card);
  font-size: 2rem;
  font-weight: bold;
}

.tabelaConteudo p{
  
  width: 400px;
  color: var(--color-text-card);
  font-size: 2.2rem;
  text-align: justify;
  margin-left: 50px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.tabelaConteudo .notaDataTipo{
  margin-left: 20%;
  font-size: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.tabelaConteudo .notaDataTipo span{
  text-align: start;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-text-card);
}

.tabelaConteudo .botoesEditDelete{
  width: 85%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 5rem;
}

.tabelaConteudo .botoesEditDelete button{
  margin-top: 61px;
  width: 15rem;
  height: 4rem;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 5px;
  border: 0;
  color: var(--color-text-button);
}

.tabelaConteudo .botoesEditDelete .editar{
  background-color: var(--background-button-secondary);
}

.tabelaConteudo .botoesEditDelete .excluir{
  background-color: var(--background-button-tertiary);
}

